services:
  tinyllama:
    image: ollama/ollama:latest
    container_name: tinyllama
    ports:
      - "11434:11434"
    volumes:
      - ollama-data:/root/.ollama
    #entrypoint: ["sh", "-c"]
    #auto pull the tinyllama model
    entrypoint: [ "/bin/bash", "-c" ]
    command: >
      "ollama serve &
      pid=$!;
      sleep 15;
      ollama pull tinyllama;
      wait $pid"
    healthcheck:
      test: [ "CMD", "ollama", "list" ]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  demo-player:
    #build is needed to alwaya pick new jar and create new image
    build:
      context: .
      dockerfile: Dockerfile
    image: player-demo:latest
    container_name: demo-player
    ports:
      - "8080:8080"
    environment:
      OLLAMA_BASE_URL: http://tinyllama:11434
      SPRING_DATASOURCE_URL: jdbc:mysql://playerdb.cr2a6qa480f7.us-east-2.rds.amazonaws.com:3306/playerdb?useSSL=false&serverTimezone=UTC
      SPRING_DATASOURCE_USERNAME: admin
      SPRING_DATASOURCE_PASSWORD: password
    depends_on:
      tinyllama:
         condition: service_healthy

volumes:
  ollama-data: